body {
  background-image: url("https://images.unsplash.com/photo-1470406601945-7a6890b947b6?q=80&w=2970&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: "Dancing Script", serif;
  padding: 20px;
  min-height: 100vh;
}

.navbar {
  background-color: rgba(43, 19, 7, 0.5);
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .logo {
  font-size: 1.5rem;
  margin: 0.5rem;
}
.navbar .logo img {
  width: 50%;
  /* height: 50%; */
  border-radius: 50%;
}
.navbar .navbar-links ul {
  color: #ffa500;
  margin: 0;
  padding: 0;
  display: flex;
  font-size: 1.5rem;
}
.navbar .navbar-links ul li {
  list-style: none;
  transition: background-color 0.1s ease;
  border-radius: 100px;
}
.navbar .navbar-links ul li a {
  padding: 1rem;
  /* display: block; */
  display: inline-block;
  text-decoration: none;
  color: #ffa500;
}
.navbar .navbar-links ul li:hover {
  background-color: #53201f;
}
.navbar .toggle-button {
  z-index: 1000;
  position: absolute;
  top: 5rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
.navbar .toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: #ffa500;
  border-radius: 10px;
  transition: transform 0.2s linear;
}

h1 {
  color: darkorange;
}

/* Container för bilderna, med flexbox-inställningar för att ordna dem i rad och radbryta vid behov */
.img_container {
  display: flex; /* Aktiverar flexbox */
  flex-wrap: wrap; /* Tillåter radbrytning vid platsbrist */
  gap: 20px; /* Mellanrum mellan elementen */
  justify-content: center; /* Centrerar elementen horisontellt */
  padding: 20px; /* Ger utrymme runt hela containern */
}

/* Stilar för varje BBQ-objekt */
.bbq_item {
  background-color: rgba(43, 19, 7, 0.5);
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  box-sizing: border-box;
  overflow: hidden;
}

/* Bildstilar för varje BBQ-objekt */
.bbq_item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

/* Stilar för beskrivningen under bilderna */
.description {
  padding: 15px; /* Inre marginal för text */
  text-align: left; /* Vänsterjusterad text */
}

/* Titelstil i beskrivningen */
.description h3 {
  font-size: 1.2em; /* Lite större textstorlek */
  color: #ffa500; /* Röd textfärg för rubriken */
}

/* Textstil för beskrivningens innehåll */
.description p {
  color: #ffffff;
  margin: 10px 0;
}

/* Stil för "Add to Cart"-knappen */
.add_to_cart {
  background-color: #53201f;
  color: #ffa500;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  margin-top: 5px;
  padding: 15px 20px;
}

/* Hovringseffekt */
.add_to_cart:hover {
  font-weight: bold;
  background-color: #ffa500;
  color: #53201f;
  cursor: pointer;
}

/* FILTERING FOOD OPTIONS */
#sort-controls {
  margin: 20px auto;
  padding: 10px;
  background-color: rgba(43, 19, 7, 0.5);
  color: whitesmoke;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

/* Styling for 'label' elements inside the 'sort-controls' container */
#sort-controls label {
  margin-right: 5px;
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

/* Styling for 'select' elements inside the 'sort-controls' container */
#sort-controls select {
  padding: 8px;
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.9);
  color: #2b1307;
  font-weight: bold;
  cursor: pointer;
  appearance: none;
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 10px;
}

/* Styling for 'select' elements inside the 'sort-controls' container when hovered */
#sort-controls select:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(43, 19, 7, 0.5);
  padding: 7px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 20px;
  cursor: pointer;
  box-sizing: border-box;
}

footer nav {
  display: flex;
  gap: 10px;
  flex-grow: 1;
}

footer a {
  text-decoration: none;
}

footer .fa-brands {
  color: whitesmoke;
  font-size: 1.8rem;
  transition: color 0.3s ease;
}

footer .fa-brands:hover {
  color: goldenrod;
}

footer .adr_1 {
  font-family: "Amatic SC", serif;
  text-align: right;
  color: whitesmoke;
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

footer .adr_1:hover {
  color: goldenrod;
}

/* ----- MEDIA QUERYS ----  */
@media (max-width: 1024px) {
  #content {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  #content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  #content {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar .toggle-button {
    display: flex;
  }
  .navbar .toggle-button.active .bar-1 {
    transform: rotate(45deg) translate(6.5px, 6.5px);
  }
  .navbar .toggle-button.active .bar-2 {
    opacity: 0;
  }
  .navbar .toggle-button.active .bar-3 {
    transform: rotate(-45deg) translate(6.5px, -6.5px);
  }
  .navbar-links {
    display: none;
    width: 100%;
  }
  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }
  .navbar-links li {
    text-align: center;
    margin: 7px 0;
  }
  .navbar-links li a {
    width: 100%;
    padding: 0.5rem 1rem;
    margin: 0;
  }
  .navbar-links li:hover {
    background-color: #3a1a0a;
    border-radius: 1px;
    width: 100%;
  }
  .navbar-links.active {
    display: flex;
  }
  .navbar .logo img {
    width: 50%;
    border-radius: 50%;
    transform: scale(0.9);
  }
}

/* ----DÖLJER POP UP---- */
.hidden {
  display: none;
}

/* ----BESTÄLLNING OCH POP UP---- */

#order-popup,
#thank-you-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 40%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.popup-content {
  text-align: center;
}

#order-popup #order-list {
  max-height: 300px;
  overflow-y: auto;
  margin: 10px 0;
}

/* ----STÄNG KRYSSET PÅ BESTÄLLNING POP UP----  */
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  color: #333;
}

.close-btn:hover {
  color: #ff6347;
}

/* ----SKICKA ORDER KNAPP----  */
#submit-order {
  border: none;
  border-radius: 20px;
  background-color: #53201f;
  color: #fff;
  padding: 15px;
  cursor: pointer;
}

#submit-order:hover {
  background-color: #8a3735;
  color: #ffffff;
}

/* ----TA BORT FRÅN BESTÄLLNING----  */
.remove-item {
  border: none;
  border-radius: 20px;
  background-color: #53201f;
  color: #fff;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}

/* Responsivitet för mobil */
@media (max-width: 768px) {
  #popup {
    width: 100%; /* Gör popupen bredare på små skärmar */
    max-width: 400px; /* Maximal bredd på mobiler */
    padding: 15px;
  }

  #popup .popup-content {
    padding: 15px;
  }

  #popup .close-btn {
    font-size: 1.2rem; /* Krymp fontstorleken på stängknappen för mobiler */
    top: 5px;
    right: 5px;
  }
}
